/* position.html의 스타일 */
body {
    margin: 0;
}

.parent {
    width: 200px;
    height: 200px;
    background-color: darksalmon;
    border: 2px solid darksalmon;
    /* border (size) (style) (color)*/
}

.child {
    position: relative;
    top: 100px;
    left: 100px;
    background-color: darkolivegreen;
    border: 2px solid darkolivegreen;
    color: #181818;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
}
